@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


body{
    font-size: 1.2rem;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #2b2b2b;
    color: #f5f5f5;
    height: 100%;
}

body.modal-open {
    overflow: hidden; 
}

#cookie-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#cookie-content {
    padding: 2rem;
    background-color: #2b2b2b;
    border-radius: 10px;
    text-align: center;
    max-width: 600px; 
    width: 90%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

#dismiss-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid whitesmoke; 
    background-color: #2b2b2b;
    color: whitesmoke;
    border-radius: 25px;
    cursor: pointer;
}

#dismiss-button:hover,  #dismiss-button:focus{
    background-color: whitesmoke;
    color: #333;
}

main {
    margin: 2% 15%;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white; 
    position: relative;
    z-index: 1;
}

h1::before {
    content: attr(data-text); /* Duplicate the text using a pseudo-element */
    position: absolute;
    left: -10px; /* Shift slightly to the left */
    top: -10px;
    z-index: -1;
    color: transparent;
    background-image: linear-gradient(45deg, #ff8000, #cc00ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6); 
    -webkit-text-stroke: 6px transparent;
    padding: 10px; /* Add some padding to the right */
}

h2 {
    text-decoration: underline;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6); 
}

li {
    margin: 1.5rem;
}

nav {
    background-color: rgb(23, 23, 23);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0.1rem;
}

nav li {
    display: inline-block;
    margin-inline: 0.5rem;
    margin: 0.1rem;
}

nav a {
    display: block; 
    padding: 1rem;
    border-radius: 5px; 
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    transform-origin: center;
}

nav a:hover {
    background-color: #2b2b2b; 
    color: white;
}

a {
    color:white;
    transition: transform 0.15s ease, color 0.15s ease;
    display: inline-block;
}

a:hover, a:focus{
    color: rgb(0, 200, 255);
    transform: scale(1.01);
    transform-origin: bottom center;
}

h2 {
    margin-bottom: 0.5rem;
}

p {
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

summary {
    font-weight: bold;
    cursor: pointer;
    color: #cacaca;
    padding: 0.5rem;
    margin: none;
    outline: none;
    transition: transform 0.15s ease;
    transform-origin: bottom left;
}

summary:hover {
    transform: scale(1.05);
    color: #fff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4); 
}

details p {
    margin-inline-start: 2em;
}

details iframe {
    margin-left: 2em;
    border: solid 4px #fff;
    padding: 5px;
    border-radius: 5px;
}

figure {
    flex-direction: column; /* Stack children (images and caption) vertically */
    align-items: center;
}


img {
    border: solid white;
    border-radius: 20px;
    border-style: dashed;
    border-width: 5px;
    min-width: 300px;
    margin: 0.5rem;
}

figcaption {
    font-size: 1rem;
    margin-left: 0.5rem;
}

#thoughtdumplink ul {
    padding-left: 0.1rem;
}

#thoughtdumplink li {
    text-decoration: none;
}

#thoughtdumplink a {
    text-decoration: none;
    font-weight: bold;
}

#thoughtdumplink a:hover {
    text-decoration: underline;
    color: #fff;
}

#rss {
    margin: auto;
    box-sizing: border-box;
	border: 5px solid rgb(255, 255, 255);
    border-radius: 25px;
	padding: 50px;
    height: 400px;
    overflow: auto;
}


#rss::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    #rss::-webkit-scrollbar-track {
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    }

    #rss::-webkit-scrollbar-button {
        color: #ffffff00;
    }
    
    #rss::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.701);  
    border-radius: 10px;
    }

    #rss::-webkit-scrollbar-thumb:hover {
        background: rgb(245, 245, 245);  
        border-radius: 10px;
    }

#rss a {
    text-decoration: none;
}

#rss h3 {
    margin: 0.1px;
}

#rss h4 {
    margin-bottom: 0.7rem;
}

#rss a:hover, #rss a:focus {
    color:white;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222;
    border-radius: 10px;
    padding: 0.5rem;
}

footer p {
    margin: 0.1rem;
    color: #949494;
}

.footer-row {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    flex-direction: row; 
    margin: none;
}

.footer-icon-button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: rgb(70, 70, 70);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icon-button:hover {
    transform: scale(1.1);
    transform-origin: center;
    color: #ffffff;
}

.footer-icon-button i {
    font-size: 1.5rem;
}